@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #18191F;
}
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  background-color: inherit;
  font: inherit;
  cursor: pointer;
}
img {
  display: block;
}
.container {
  max-width: 1126px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 8px;
}
.header {
  position: fixed;
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  backdrop-filter: saturate(200%) blur(20px);
  -webkit-backdrop-filter: saturate(200%) blur(20px);
  font-weight: 700;
  font-size: 14px;
  z-index: 1000;
  transition: background-color 0.7s ease 0.7s;
  color: #18191F;
}
.header__wrapper {
  display: flex;
}
.header__overlay {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__brand {
  display: flex;
  align-items: center;
  margin-right: 32px;
}
.header__menu-list {
  display: flex;
  column-gap: 32px;
}
.header__menu-item {
  position: relative;
}
.header__menu-link {
  display: flex;
  position: relative;
  padding: 10px 0;
}
.header__menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: #000;
}
.header__menu-link:hover::after {
  width: 100%;
  transition: .3s;
}
.header__menu-button {
  display: flex;
  align-items: center;
  column-gap: 4px;
  padding-block: 10px;
}
.header__menu-dropdown {
  top: 55px;
  left: -20px;
  position: absolute;
  display: none;
  text-align: center;
  padding: 8px 4px;
  background-color: #fff;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.header__menu-dropdown_show {
  display: block; 
}
.header__menu-dropdown-list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding-top: 20px;
}
.header__menu-dropdown-link:hover {
  color: rgb(0, 179, 255);
}
.social {
  display: flex;
  gap: 12px;
}
.social__app-banner:hover {
  opacity: 0.8;
}
.header__burger-button {
  width: 25px;
  height: 25px;
  display: none;
  justify-content: flex-start;
  align-items: center;
}
.header__burger-wrapper {
  position: relative;
}
.header__burger-item::before, .header__burger-item::after {
  content: "";
  position: absolute;
  background-color: #000;
  width: 25px;
  height: 2px;
  transition: top 200ms 150ms, transform 200ms;
}
.header__burger-item::before {
  top: -5px;
}
.header__burger-item::after {
  top: 5px;
}
.header__burger-button.active .header__burger-item::after {
  transform: rotate(45deg);
  top: 0;
  transition: top 200ms, transform 250ms 250ms;
}
.header__burger-button.active .header__burger-item::before {
  transform: rotate(-45deg);
  top: 0;
  transition: top 200ms, transform 250ms 250ms;
}
@media (max-width: 868px) {
  .header__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .header__burger-button {
    display: flex;
  }
  .header__overlay {
    position: fixed;
    height: 0;
    left: 0;
    top: 72px;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    background-color: #fff;
    transition: .7s;
    visibility: hidden;
    overflow: hidden;
  }
  .header.menu-opened .header__overlay {
    transition: .7s;
    visibility: visible;
    height: 100vh;
  }
  .header.menu-opened {
    background-color: #fff;
    transition: background-color 0s ease;
  }
  .header__menu-list {
    flex-direction: column;
  }
  .header__menu {
    width: 100%;
  }
  .header__menu-link, .header__menu-button {
    padding-block: 25px;
    justify-content: center;
    width: 100%;
  }
  .header__menu-button {
    padding-bottom: 0;
  }
  .header__menu-dropdown {
    width: 100%;
    left: -5px;
    padding: 0;
  }
  .header__menu-dropdown-list {
    row-gap: 0;
    padding: 0;
  }
  .header__menu-dropdown-link {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-block: 10px;
  }
  .social {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.hero {
  background-image: url(/images/Background.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
  width: 100%;
  position: relative;
  top: 0;
  z-index: 101;
  padding-top: 72px;
  padding-bottom: 58px;
}
.hero__wrapper {
  display: flex;
  justify-content: space-between;
}
.hero__image {
  margin-top: 96px;
  filter: drop-shadow(10px 15px 30px rgba(41, 41, 42, .5));
}
.hero__title {
  margin-top: 168px;
  font-size: 72px;
  font-weight: 800;
}
.hero__button {
  background-color: #8C30F5;
  margin-top: 32px;
  padding: 15px 40px;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: 3px solid #8C30F5;
}
.hero__button:hover {
  background-color: #fff;
  color: #000;
  border: 3px solid #8C30F5;
  transition: .3s;
}
@media (max-width: 868px) {
  .hero__title {
    font-size: 36px;
    margin-top: 20px;
  }
  .hero__button {
    padding: 8px 20px;
  }
  .hero__wrapper {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  .hero__image {
    margin-top: 30px;
    max-width: 100%;
    height: auto;
  }
}
.brands {
  padding: 16px 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-image: linear-gradient(90deg, rgba(192, 204, 218, .1) 0, rgba(192, 204, 218, .6) 50.38%, rgba(192, 204, 218, .1) 100%) 1;
}
.brands__wrapper {
  margin-inline: auto;
  max-width: 900px;
  gap: 64px;
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}
@media (max-width: 920px) {
  .brands__wrapper {
    gap: 5px;
  }
}
@media (max-width: 630px) {
  .brands__wrapper {
    flex-direction: column;
    gap: 10px;
    padding: 0;
  }
  .brands__item {
    margin: 0 auto;
  }
}
.features {
  padding-block: 64px;
}
.features__title {
  font-size: 48px;
  font-weight: 800;
  text-align: center;
}
.features__description {
  max-width: 540px;
  margin-inline: auto;
  margin-top: 8px;
  margin-bottom: 48px;
  text-align: center;
  line-height: 32px;
}
.features__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px 30px;
}
.features__item {
  text-align: center;
}
.features__item-title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 8px;
}
.features__item-description {
  line-height: 26px;
  font-size: 16px;
  text-wrap: balance;
}
.features__image {
  margin-inline: auto;
}
@media (max-width: 755px) {
  .features__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 504px) {
  .features__wrapper {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .features {
    padding: 0;
  }
  .features__title {
    font-size: 28px;
  }
  .features__item-title {
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: 20px;
  }
}
.reviews {
  background-color: #D5FAFC;
  padding-top: 64px;
  padding-bottom: 80px;
}
.reviews__header {
  margin-left: 95px;
  margin-top: -65px;
  margin-bottom: 24px;
}
.reviews__title {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
}
.reviews__description {
  font-size: 18px;
  margin-top: 8px;
}
.reviews__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.reviews__item {
  background-color: #fff;
  border-radius: 8px;
  padding: 32px;
  box-shadow: 0px 10px 20px 0px rgba(41, 41, 42, 0.07);
}
.reviews__item--narrow {
  max-width: 350px;
}
.reviews__item--wide {
  max-width: 445px;
}
.reviews__content {
  display: flex;
  margin-top: 32px;
  gap: 16px;
}
.reviews__text {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 24px;
}
.reviews__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}
.reviews__post {
  color: rgb(150, 155, 171);
  font-weight: 500;
  font-size: 14px;
}
.reviews__column--right {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.reviews__column--left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.reviews__column--left .reviews__item--narrow {
  margin-left: auto;
}
.reviews__column--right .reviews__item--wide {
  margin-top: 104px;
}
@media (max-width: 868px) {
  .reviews__item-img {
    margin: 0 auto;
  }
  .reviews__wrapper {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .reviews__column--left .reviews__item--narrow {
    margin: 0 auto;
  }
  .reviews__column--right .reviews__item--wide {
    margin-top: 32px;
  }
  .reviews__column {
    margin: 0 auto;
  }
  .reviews__item--narrow {
    max-width: 100%;
  }
  .reviews__item--wide {
    max-width: 100%;
  }
  .reviews__title {
    font-size: 34px;
    line-height: 32px;
  }
  .reviews__column-img {
    max-width: 50px;
  }
  .reviews__header {
    margin-left: 60px;
  }
  .reviews {
    background-color: #D5FAFC;
    padding-block: 30px;
  }
}
@media (max-width: 300px) {
  .reviews__title {
    font-size: 24px;
  }
    .reviews__column-img {
    max-width: 30px;
  }
    .reviews__header {
    margin-left: 32px;
  }
  .reviews__item {
    padding: 5px;
  }
}
.stats {
  padding-block: 80px;
}
.stats__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.stats__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.stats__title {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
}
.stats__description {
  font-size: 18px;
  margin-top: 8px;
}
.stats__item {
  display: flex;
  align-items: center;
  gap: 17px;
}
.stats__content-number {
  font-size: 28px;
  font-weight: 800;
}
.stats__content-text {
  font-size: 16px;
}
@media (max-width: 868px) {
  .stats {
    padding-block: 30px;
  }
  .stats__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .stats__intro {
    text-align: center;
  }
  .stats__title {
    font-size: 32px;
    line-height: 32px;
  }
  .stats__grid {
    margin-top: 20px;
  }
}
@media (max-width: 380px) {
  .stats__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .stats__title {
    font-size: 24px;
  }
}
.app__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 64px;
  gap: 30px;
}
.app__content {
  padding-inline: 48px;
}
.app__image {
  max-width: 100%;
  height: auto;
}
.app__title {
  font-size: 40px;
  line-height: 54px;
  font-weight: 800;
}
.app__text {
  padding-block: 32px;
  line-height: 32px;
}
.app__link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 20px;
  color: rgb(140, 48, 245);
}
.app__link:hover {
  color: rgb(91, 0, 194);
  transition: .3s;
}
@media (max-width: 868px) {
  .app__wrapper {
    flex-wrap: wrap;
    padding-block: 20px;
    gap: 10px;
  }
  .app__content {
    text-align: center;
    padding-inline: 0;
  }
  .app__link {
    justify-content: center;
  }
  .app__text {
    padding-block: 16px;
  }
  .app__title {
    font-size: 28px;
  }
}
.trends {
  padding-block: 64px;
}
.trends__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
.trends__image {
  max-width: 100%;
  height: auto;
}
.trends__text, .trends__title {
  max-width: 540px;
}
.trends__text {
  line-height: 32px;
}
.trends__title {
  font-size: 40px;
  font-weight: 800;
  line-height: 54px;
}
@media (max-width: 868px) {
  .trends__wrapper {
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
  }
  .trends__text, .trends__title {
    max-width: 100%;
  }
  .trends {
    padding-block: 20px;
  }
  .trends__title {
    font-size: 28px;
  }
}
.download {
  background-color: #2EC5CE;
}
.download__title {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  margin-top: 68px;
}
.download__text {
  line-height: 32px;
  margin-top: 8px;
  margin-bottom: 48px;
}
.download__hint {
  margin-bottom: 8px;
  font-weight: 500;
}
.download__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 74px;
  min-height: 491px;
}
.download__content {
  max-width: 540px;
}
.download__images {
  display: flex;
  gap: 32px;
}
.download__image--top {
  align-self: flex-start;
}
.download__image--bottom {
  align-self: flex-end;
}
@media (max-width: 1050px) {
  .download__wrapper {
    gap: 10px;
  }
}
@media (max-width: 868px) {
  .download__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 74px;
    min-height: auto;
  }
  .download__images {
    display: none;
  }
  .download__content {
    max-width: 100%;
    text-align: center;
  }
  .download__title {
    margin-top: 30px;
    font-size: 28px;
    line-height: 30px;
  }
}
.footer {
  background-color: #0B0D17;
  color: #fff;
  padding-block: 56px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer__menu-list {
  display: flex;
  gap: 24px;
  font-size: 16px;
}
.footer__menu {
  padding-block: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__right {
  color: #D9DBE1;
  font-size: 14px;
}
.footer__hint {
  font-weight: 500;
  color: #D9DBE1;
  margin-bottom: 16px;
}
.social-wrap {
  flex-direction: column;
}
.footer__menu-link:hover {
  color:  rgb(46, 197, 206);
  transition: .3s;
}
@media (max-width: 660px) {
  .footer__menu-list {
    flex-direction: column;
  }
  .footer {
    padding-block: 32px;
    padding-inline: 10px;
  }
}
@media (max-width: 308px) {
  .footer__wrapper {
    flex-direction: column;
  }
  .footer__wrapper-right {
    margin-top: 50px;
  }
}